# Виртуальное окружение
venv/
__pycache__/
*.pyc

# База данных (локальная, не нужно в репозитории)
*.db
*.sqlite3

# Логи и временные файлы
*.log
*.tmp

# Файлы IDE
.vscode/
.idea/

# Системные файлы
Thumbs.db
.DS_Store